<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <svg class="header-logo-icon icon-mob">
        <use href="../img/icons.svg#icon-logo-mob"></use>
      </svg>
      <svg class="header-logo-icon icon-tab">
        <use href="../img/icons.svg#icon-logo-tab"></use>
      </svg>
      <svg class="header-text-icon icon-mob">
        <use href="../img/icons.svg#icon-text-mob"></use>
      </svg>
      <svg class="header-text-icon icon-tab">
        <use href="../img/icons.svg#icon-text-tab"></use>
      </svg>
    </a>

    <nav class="navigation">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>

      <button type="button" class="shop-btn">Shop now</button>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="header-open-icon icon-mob">
        <use href="../img/icons.svg#icon-open-menu-mob"></use>
      </svg>
      <svg class="header-open-icon icon-tab">
        <use href="../img/icons.svg#icon-open-menu-tab"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <div class="modal">
      <div>
        <button type="button" class="close-menu-btn">
          <svg class="header-close-icon icon-mob">
            <use href="../img/icons.svg#icon-close-menu-mob"></use>
          </svg>
          <svg class="header-close-icon icon-tab">
            <use href="../img/icons.svg#icon-close-menu-tab"></use>
          </svg>
        </button>
        <nav class="menu-navigation">
          <ul class="header-menu-nav-list">
            <li class="header-menu-nav-item">
              <a class="header-menu-nav-link" href="#how-it-works"
                >How It Works</a
              >
            </li>
            <li class="header-menu-nav-item">
              <a class="header-menu-nav-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="header-menu-nav-item">
              <a class="header-menu-nav-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <button type="button" class="menu-shop-btn">Shop now</button>
    </div>
  </div>
</header>
