<section id="how-it-works" class="how-it-works">
  <div class="container container-hiw">
    <h2 class="visually-hidden">Easy steps</h2>
    <div class="top-wrap">
      <picture>
        <source
          srcset="
            ./img/how-it-works/how-desktop-2x-min.png 2x,
            ./img/how-it-works/how-desktop-1x-min.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/how-it-works/how-tab-2x-min.png 2x,
            ./img/how-it-works/how-tab-1x-min.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/how-it-works/how-mob-2x-min.png 2x,
            ./img/how-it-works/how-mob-1x-min.png 1x
          "
          media="(min-width: 375px)"
        />
        <img
          class="woman-cooks-image"
          src="./img/how-it-works/how-mob-1x-min.png"
          alt="Woman cook"
          width="640"
          height="640"
        />
      </picture>
    </div>
    <div class="steps-wrap">
      <h2 class="follow-steps">
        To order your <span class="green-heading">vegetable</span> basket,
        simply follow these <span class="green-heading">easy steps</span>
      </h2>
      <p class="follow-steps-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>

      <ol class="how-it-works-list">
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-title">
            Just choose <span class="howit-bold">the vegetable</span> you want
            to order by clicking on the checkboxes
            <span class="how-it-works-span-bold">next to it.</span>
          </p>
        </li>
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-title">
            Click on <span class="how-it-works-span-bold">the basket</span> and
            fill out the form.
          </p>
        </li>
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-title">
            Sit back and relax! Your
            <span class="how-it-works-span-bold">fresh vegetables</span> basket
            will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
