<section class="how-it-works" id="how-it-works">
  <h2 class="visually-hidden">How it works</h2>
  <div class="how-it-works-section-image-background">
    <div class="how-it-works-section-image">
      <div class="how-it-works-image"></div>
    </div>
  </div>
  <div class="how-it-works-section-tutorial-background">
    <div class="how-it-works-section-tutorial">
      <h3 class="how-it-works-subtitle">to order your <span class="how-it-works-span-unvisible">vegetable</span> basket,
        simply
        follow these <span class="how-it-works-span-unvisible">easy
          steps</span></h3>
      <p class="how-it-works-title">Our baskets are assembled with care and delivered straight to your doorstep, so you
        can enjoy the taste of fresh fruit without ever leaving your home.</p>
      <ul class="how-it-works-list">
        <li class="how-it-works-list-item">
          <div class="how-it-works-list-item-tutorial-numbers">
            <p class="tutorial-number">1</p>
          </div>
          <p class="how-it-works-list-item-title">Just choose <span class="how-it-works-span-bold"> the
              vegetable</span> you want to order by clicking on
            the
            checkboxes <span class="how-it-works-span-bold">next to it.</span> </p>
        </li>
        <li class="how-it-works-list-item">
          <div class="how-it-works-list-item-tutorial-numbers">
            <p class="tutorial-number">2</p>
          </div>
          <p class="how-it-works-list-item-title">Click on <span class="how-it-works-span-bold">the basket</span> and
            fill
            out the form.</p>
        </li>
        <li class="how-it-works-list-item">
          <div class="how-it-works-list-item-tutorial-numbers">
            <p class="tutorial-number">3</p>
          </div>
          <p class="how-it-works-list-item-title">Sit back and relax! Your <span class="how-it-works-span-bold">fresh
              vegetables</span> basket will be delivered.</p>
        </li>
      </ul>
    </div>
  </div>

</section>