<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="veget-title">
      organic <span class="veget-span">vegetables</span>
    </h2>
    <p class="veget-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veget-list">
      <li class="veget-list-item">
        <div class="card-price">
          <h3 class="veget-list-title">eggplan</h3>
          <p class="veget-price">60 UAH / KG</p>
        </div>
        <img
          class="veget-img"
          srcset="
            ../img/vegetables/eggplan-2x-min.png 2x,
            ../img/vegetables/eggplan-min.png    1x
          "
          width="282"
          src="../img/vegetables/eggplan-min.png"
          alt="Eggplans"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-list-title">leek</h3>
        <p class="veget-price">50 UAH / kg</p>
        <img
          class="veget-img"
          srcset="
            ../img/vegetables/leek-2x-min.png 2x,
            ../img/vegetables/leek-min.png    1x
          "
          width="282"
          src="../img/vegetables/leek-min.png"
          alt="Leek"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-list-title">mashrooms</h3>
        <p class="veget-price">40 UAH / kg</p>
        <img
          srcset="
            ../img/vegetables/mashrooms-2x-min.png 2x,
            ../img/vegetables/mashrooms-min.png    1x
          "
          width="282"
          class="veget-img"
          src="../img/vegetables/mashrooms-min.png"
          alt="Mashrooms"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-list-title">corn</h3>
        <p class="veget-price">60 UAH / kg</p>
        <img
          srcset="
            ../img/vegetables/corn-2x-min.png 2x,
            ../img/vegetables/corn-min.png    1x
          "
          width="282"
          class="veget-img"
          src="../img/vegetables/corn-min.png"
          alt="Corn"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-list-title">sweet potatoes</h3>
        <p class="veget-price">50 UAH / kg</p>
        <img
          class="veget-img"
          srcset="
            ../img/vegetables/potatoes-2x-min.png 2x,
            ../img/vegetables/potatoes-min.png    1x
          "
          width="282"
          src="../img/vegetables/potatoes-min.png"
          alt="Sweet potatoes"
        />
      </li>
      <li class="veget-list-item">
        <h3 class="veget-list-title">carrot</h3>
        <p class="veget-price">40 UAH / kg</p>
        <img
          class="veget-img"
          srcset="
            ../img/vegetables/carrot-2x-min.png 2x,
            ../img/vegetables/carrot-min.png    1x
          "
          width="282"
          src="../img/vegetables/carrot-min.png"
          alt="Carrot"
        />
      </li>
    </ul>
  </div>
</section>
