<section class="your-order">
  <div class="container">
    <div class="title-par">
      <h1 class="title-head">
        Fresh <span class="harvest">Harvest</span> Box has got you covered
      </h1>
      <p class="par-head">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="form-pic-wrapper">
      <div class="form-container">
        <p class="form-title">
          Ordering <span class="from-us">from us</span> is quick and easy! Fill
          out <span class="the-form">the form</span> below and we will contact
          you !
        </p>
        <div class="form-inside">
          <form class="order-form" name="subcribe" autocomplete="off">
            <div class="container-input">
              <label class="label-name" for="user-name"></label>

              <input
                type="text"
                class="input-name"
                name="user-name"
                id="user-name"
                placeholder="Full Name"
                autocomplete="off"
                required
              />
            </div>
            <div class="container-input">
              <label class="label-name" for="input-email"></label>

              <input
                type="email"
                class="input-name"
                name="input-email"
                id="input-email"
                autocomplete="off"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
              />
            </div>
            <div class="container-text-area">
              <label class="label-name" for="user-comment"></label>
              <textarea
                class="comment"
                id="user-comment"
                name="user-comment"
                placeholder="Comment"
                required
              ></textarea>
            </div>
            <button type="submit" class="send">Send</button>
          </form>
        </div>
      </div>

      <div class="links-card">
        <div class="picture">
          <div class="gradient"></div>
          <img
            srcset="
              ../img/your-order/Rectangle-42476.jpg    1x,
              ../img/your-order/Rectangle-42476@2x.jpg 2x
            "
            src="../img/your-order/Rectangle-42476.jpg"
            alt="woman with bottle"
            width="593"
            class="bottle-pic"
          />
        </div>
        <div class="socials">
          <p class="follow-us">Follow us on our social networks:</p>
          <ul class="links">
            <li class="links-obj">
              <a href="https://www.instagram.com/goitclub/" target="_blank"
                >instagram</a
              >
            </li>
            <li class="links-obj">
              <a href="https://www.facebook.com/goITclub/" target="_blank"
                >facebook</a
              >
            </li>
            <li class="links-obj">
              <a href="https://www.youtube.com/c/GoIT " target="_blank"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
