<section class="you-order">
  <div class="container"></div>
  <div class="title-par">
    <h1 class="title-head">
      Fresh <span class="Harvest">Harvest</span> Box has got you covered
    </h1>
    <p class="par-head">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>
  <div class="form-container">
    <p class="form-title">
      Ordering <span class="from-us">from us</span> is quick and easy! Fill out
      <span class="the-form">the form</span> below and we will contact you !
    </p>
    <div class="form-inside">
      <div class="container-input">
        <label class="label-name" for="user-name"></label>

        <input
          type="text"
          class="input-name"
          name="user-name"
          id="user-name"
          autocomplete="off"
        />
      </div>
      <div class="container-input">
        <label class="label-name" for="input-email"></label>

        <input
          type="email"
          class="input-name"
          name="input-email"
          id="input-email"
          autocomplete="off"
        />
      </div>
      <div class="container-text-area">
        <label class="label-name" for="user-comment"></label>
        <textarea
          class="comment"
          id="user-comment"
          name="user-comment"
          placeholder="Text input"
        ></textarea>
      </div>
      <button type="submit" class="send">Send</button>
    </div>
  </div>

  <div class="links-card">
    <img class="bottle-pic" src="" alt="woman with bottle" />
    <div class="socials">
      <p class="follow-us">Follow us on our social networks:</p>
      <ul class="links">
        <li class="links-obj">
          <a href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li class="links-obj">
          <a href="https://www.youtube.com/c/GoIT ">YouTube</a>
        </li>
        <li class="links-obj">
          <a href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</section>
