.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0px 100px;
  }
}
.header {
  position: relative;
}

.header-container {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-icon {
  fill: #fbfbfb;
  width: 16px;
  height: 16px;
}
.header-text-icon {
  fill: #fbfbfb;
  width: 146px;
  height: 12px;
}
.navigation {
  display: none;
}
.shop-btn {
  display: none;
}
.open-menu-btn {
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  fill: transparent;
  stroke-width: 3px;
  stroke: #fbfbfb;
}
.header-open-icon {
  width: 32px;
  height: 32px;
}
.header-open-menu-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fbfbfb;
}
.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  background-color: rgba(20, 20, 20, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #7a3145;
  padding: 240px 110px 40px;
  flex-direction: column;
  justify-content: space-between;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-menu-btn {
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  fill: transparent;
  stroke-width: 3px;
  stroke: #fbfbfb;
}
.header-close-icon {
  width: 32px;
  height: 32px;
}
.header-menu-nav-item {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 115px;
  height: 42px;
  background-color: #7a3145;
}
.header-menu-nav-item:first-child {
  background-color: #fbfbfb;
}
.header-menu-nav-item:not(:last-child) {
  margin-bottom: 8px;
}

.header-menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu-nav-item:first-child .header-menu-nav-link {
  color: #7a3145;
}
.menu-shop-btn {
  border-radius: 30px;
  padding: 16px 41px;
  width: 155px;
  height: 50px;
  background-color: #fbfbfb;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border: none;
}
.menu-shop-btn:hover,
.menu-shop-btn:focus {
  color: rgba(122, 49, 69, 0.7);
}
@media screen and (max-width: 767px) {
  .icon-tab {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-mob {
    display: none;
  }
  .icon-tab {
    display: block;
  }
  .header-container {
    top: 32px;
  }
  .logo {
    gap: 8px;
  }
  .header-logo-icon {
    width: 18px;
    height: 18px;
  }
  .header-text-icon {
    width: 168px;
    height: 15px;
  }

  .modal {
    position: absolute;
    width: 351px;
    padding: 360px 97px 50px 97px;
  }
  .header-close-icon {
    width: 40px;
    height: 40px;
  }
  .header-open-icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .open-menu-btn {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-nav-list {
    display: flex;
    gap: 8px;
  }
  .header-nav-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: auto;
    height: 44px;
  }
  .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop-btn {
    display: flex;
    border-radius: 30px;
    padding: 16px 32px;
    min-width: 157px;
    height: 52px;
    background-color: #7a3145;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    align-items: center;
    justify-content: center;
  }
  .shop-btn:hover,
  .shop-btn:focus {
    background-color: #622133;
  }
}
