.hero {
  background-color: #576f35;
  margin: 0 auto;
  width: 100%;
  padding-top: 100px;
}

@media screen and (min-width: 375px) {
  .hero {
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
}

.hero-bg {
  height: 370px;

  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero/hero-img-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-img-mob-2x.jpg);
  }
}

@media screen and (min-width: 375px) {
  .hero-bg {
    height: 370px;
    margin: 0 -20px;
    width: calc(100% + 40px);
  }
}
@media screen and (min-width: 768px) {
  .hero-bg {
    margin: 0 -32px;
    width: calc(100% + 64px);

    height: 539px;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-img-tab-1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero-img-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg {
    flex-shrink: 0;
    width: 650px;
    height: 800px;
    margin: 0 -100px 0 0;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-img-dt-1x.jpg);
    background-position: right;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero-img-dt-2x.jpg);
      background-position: right;
    }
  }
}

.hero-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .hero-title {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 704px;
    font-size: 76px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    padding-top: 238px;
    max-width: 502px;
    margin-bottom: 128px;
    padding-right: 28px;
  }
}

.hero-txt {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29em;
  text-align: left;
  max-width: 335px;
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) {
  .hero-txt {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .hero-txt {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25em;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-txt {
    max-width: 472px;
    padding-right: 30px;
  }
}
