.how-it-works {
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: linear-gradient(#7a3145 0 45%, #576f35 45% 100%);
}

.follow-steps {
  margin-top: 120px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.green-heading {
  color: rgba(251, 251, 251, 0.3);
}

.follow-steps-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .how-it-works {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(#7a3145 0 55%, #576f35 55% 100%);
  }

  .top-wrap {
    display: flex;
    justify-content: center;
  }

  .follow-steps {
    margin-top: 200px;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .follow-steps-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .steps-wrap {
    padding-left: 124px;
    padding-right: 124px;
  }
  .how-it-works-list-item-title {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1280px) {
  .how-it-works {
    background-image: linear-gradient(
      to right,
      #7a3145 0 50%,
      #576f35 50% 100%
    );
  }

  .container-hiw {
    display: flex;
    justify-content: space-around;
  }

  .follow-steps {
    margin-top: 0;
  }

  .steps-wrap {
    width: 450px;
    margin-left: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .woman-cooks-image {
    width: 430px;
  }
}

.how-it-works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  counter-reset: list;
}

.how-it-works-list-item {
  padding: 12px 24px;
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 17px 24px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  height: 76px;
}
/* 
.how-it-works-list-item-tutorial-numbers {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  box-shadow: 0 0 0 5px rgba(122, 49, 69, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(122, 49, 69);
  border: 5px;
  position: absolute;
} */

.tutorial-number {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.how-it-works-list-item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  padding-left: 71px;
}

.how-it-works-span-bold {
  font-weight: 700;
  color: #141414;
}
.how-it-works-list-item::before {
  counter-increment: list;
  content: '' counter(list);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 100%;
  background-color: #7a3145;
  border: 5px solid rgba(255, 255, 255, 0.609);
  display: flex;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 29px;
  /* margin-right: 24px; */
}
