.reviews {
  background-color: #fbfbfb;
  padding-bottom: 80px;
  padding-top: 80px;
}
.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}
.reviews-span {
  color: #576f35;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #141414;
  margin-bottom: 40px;
}

.reviews-list-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
}
.reviews-item-wrap {
  padding: 20px 16px 38px 16px;
}
.reviews-item-img {
  margin: 0 auto 24px auto;
}
.reviews-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}
.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
.reviews-list .reviews-list-item:nth-child(2) {
  display: none;
}

.reviews-list .reviews-list-item:nth-child(3) {
  display: none;
}

@media screen and (min-width: 375px) {
  /* .reviews .container {
    max-width: 335px;
    margin: 0 auto;
  } */
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .reviews-text-wrap {
    max-width: 553px;
  }
  .reviews-title {
    font-size: 64px;
    margin-bottom: 25px;
  }
  .reviews-text {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .reviews-list {
    display: flex;
    gap: 18px;
  }
  .reviews-item-wrap {
    padding: 20px 20px 42px 20px;
    min-height: 258px;
  }
  .reviews-list .reviews-list-item:nth-child(2) {
    display: block;
  }
  .reviews-list-item {
    width: calc((100% - 1 * 16px) / 2);
  }
  .reviews-item-text {
    font-size: 16px;
  }
  .reviews-item-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    gap: 25px;
  }
  .reviews-item-wrap {
    padding: 20px;
  }
  .reviews-list-item {
    width: calc((100% - 2 * 25px) / 3);
  }
  .reviews-list .reviews-list-item:nth-child(3) {
    display: block;
  }
}
