.vegetables {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}
.card-price .veget-title {
  font-weight: 600;
  font-size: 48px;

  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.veget-span {
  color: #fbfbfb3d;
}

.veget-text {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.29;
  color: #fbfbfb;
  /* width: 335px;
  height: 192px; */
  margin-bottom: 40px;
}

.veget-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.veget-list-item {
  gap: 10px;
  border-radius: 40px;
  padding: 32px 26px;
  width: 334px;
  height: 379px;
  background-color: #fbfbfb;
}

.card-price {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.veget-img {
  width: 282px;
  height: 243px;
}

.veget-list-title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 12px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
}

.veget-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
