.your-order {
  background-color: #7a3145;
}
.your-order .container {
  padding-bottom: 80px;
  padding-top: 80px;
}
.links-obj:last-child a::after {
  content: '';
}
.title-par {
  margin-bottom: 40px;
}
.title-head {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 29px;
}
.harvest {
  color: rgba(251, 251, 251, 0.3);
}
.par-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
}
.form-container {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 100%;
  height: 533px;
  background: #fbfbfb;
  margin-bottom: 20px;
}
.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.from-us {
  color: #7a3145;
}
.the-form {
  color: #576f35;
}

.input-name,
.comment {
  width: 100%;
}

.send {
  width: 100%;
}
.order-form {
  justify-content: center;
  flex-direction: column;
}
.input-name {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding-left: 16px;
  max-width: 295px;
  height: 46px;
  line-height: 125%;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name::placeholder,
.comment::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;

  letter-spacing: -0.02em;

  color: #141414;
}
.input-name:focus {
  border-color: #7a3145;
}
input[type='email'] {
  margin-bottom: 15px;
}
input[type='text'] {
  margin-bottom: 15px;
}

input[type='email']:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

input[type='email']:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}
.comment {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding-left: 14px;
  padding-top: 14px;
  width: 100%;
  height: 91px;
  resize: none;
  outline: transparent;

  margin-bottom: 15px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus {
  border-color: #7a3145;
}
.send {
  background: #576f35;
  border-radius: 30px;
  padding: 16px 20px;

  height: 50px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.links-card {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  height: 465px;
  background: #576f35;
}
.picture {
  position: relative;
  max-width: 295px;
  height: 273px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}
.bottle-pic {
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: contain;
  object-position: left;
  border-radius: 15px;
  z-index: 0;
  transform: scale(1.2);
  margin-left: -15%;
  transform-origin: left;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(20, 20, 20, 0.3);
  z-index: 1;
  background-size: cover;
}

.follow-us {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}
.socials {
  max-width: 295px;
}
.links {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
}
.links-obj {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.links-obj a {
  color: #fbfbfb;
  text-decoration: none;
}
.links-obj a::after {
  content: '/';
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .your-order .container {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .title-par {
    width: 640px;
    margin-bottom: 50px;
  }
  .title-head {
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 25px;
  }
  .par-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
  }
  .form-container {
    padding: 50px 100px;
  }
  .form-title {
    width: 428px;
    margin-bottom: 50px;
  }
  .form-pic-wrapper {
    padding: 0px 50px;
  }
  .input-name {
    max-width: 428px;
  }
  .comment {
    margin-bottom: 25px;
  }
  .links-card {
    padding: 50px;
    max-width: 628px;
    height: auto;
  }
  .bottle-pic {
    transform: scale(1.4);
    margin-left: -4%;

    transform-origin: bottom left;
  }
  .picture {
    max-width: 528px;
    margin-bottom: 50px;
  }
  .links {
    height: 0;
    width: 492px;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .follow-us {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .title-par {
    margin-left: 80px;
    width: 751px;
  }
  .form-pic-wrapper {
    margin: 0 auto;
    gap: 24px;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .form-container {
    margin-bottom: 0;
    padding: 50px 50px;
    max-width: 529px;
  }
  .links-card {
    max-width: 527px;
  }
  .send {
    font-size: 18px;
  }
  .follow-us {
    font-size: 18px;
  }
  .links {
    width: 357px;
    flex-wrap: wrap;
    height: 76px;
  }
  .links-obj {
    font-size: 32px;
  }
  .bottle-pic {
    transform: scale(1.3);
  }
}
